.search_bar {
  display: flex;
  margin-left: 200px;
}

.search_bar_content {
  margin: 0px 20px;
  padding: 0px 20px;
  font-size: xx-large;
}

.product_list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 40px 60px; /**/
  list-style: none;
}

.product_box {
  display: grid;
  grid-template-rows: 3fr 2fr 1fr;
}
