.signing_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.login_form {
  margin-top: 50px;
}

.login_form_items {
  padding: 10px;
}

.login_input,
#login_button,
#register_button {
  font-size: xx-large;
}

#login_button,
#register_button {
  background-color: royalblue;
  color: white;
}

.login_content {
  display: flex;
  justify-content: space-between;
}

.signing_footer {
  margin-top: auto;
  font-size: xx-large;
  background-color: royalblue;
  padding: 10px 400px;
}
