
*vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

app/.DS_Store
*DS_Store

# Local History for Visual Studio Code
.history/

# Ignore Files
*.pyc
*~
__pycache__
/static
ali_bash