[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
requests = "*"
sqlalchemy = "*"
psycopg2 = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.9"
